<div class="mattresses-contact">
  <div class="mattresses-contact-chat">
    <h4>Have Questions?</h4>
    <p>Chat with us now!</p>
    <span class="mattresses-contact-chatbox" onclick="olark('api.box.expand')">Chat Now</span>
  </div>
  <div class="mattresses-contact-email">
    <h4>Keep In Touch</h4>
    <p>Stay up to date by signing up for our newsletter.</p>
    <form id="email_signup" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <input type="hidden" name="g" value="nQF8G6">
      <div class="mattresses-contact-emailbox">
        <input id="k_id_email" class="emailbox-input" name="email" type="email" placeholder="Your Email">
        <button class="emailbox-submit" type="submit">
          <span class="emailbox-submit-arrow"></span>
        </button>
      </div>
      <div class="klaviyo_messages">
        <p class="success_message">
        </p>
        <p class="error_message">
        </p>
      </div>
    </form>
  </div>
</div>

