<div id="trial-details" class="modal rte" style="display:none;">
  {{ pages.trial-shipping-returns.content }}
</div>

<div id="mattress-fit" class="modal rte" style="display:none;">
  {{ pages.mattressfit.content }}
</div>

<div id="klarna-cart" class="modal rte" style="display:none;padding:15px">
  <klarna-placement data-id="e8b4f2fa-9690-4a77-bd04-bcf717161186"></klarna-placement>
</div>
