<div class="hp-featured-sponsorships">
  <div class="hp-sponsorship-img-mobile" style="background-image: url({{ 'bubba-watson-lg.jpg' | asset_url }})">
  </div>
  <div class="hp-sponsorship-block">
    <div class="hp-sponsorship-message">
      <h2 class="hp-sponsorship-quote">
        "airweave has helped me consistently get a good night's sleep, and makes the routine of being on the road a lot easier."
      </h2>
      <p class="hp-sponsorship-member">
        Bubba Watson<br><em>PGA Tour Pro Golfer</em>
      </p>
    </div>
  </div>
</div>