<div class="hp-trusted-by">
  <h2 class="hp-trusted-by-header">Trusted By The World's Elite</h2>
  <div class="hp-trusted-by-logos">
    <div class="hp-trusted-logo-wrapper">
      <img class="hp-trusted-logo lazyload" data-src="{{ 'andaz-logo.png' | asset_url }}">
    </div>
    <div class="hp-trusted-logo-wrapper">
      <img class="hp-trusted-logo lazyload" data-src="{{ 'british-athletics-logo.png' | asset_url }}">
    </div>
    <div class="hp-trusted-logo-wrapper">
      <img class="hp-trusted-logo lazyload" data-src="{{ 'australian-sailing-logo.png' | asset_url }}">
    </div>
    <div class="hp-trusted-logo-wrapper">
      <img class="hp-trusted-logo lazyload" data-src="{{ 'kitano-hotel-logo.png' | asset_url }}">
    </div>
  </div>
  <a class="hp-trusted-by-link" href="/collections/mattresses">shop all mattresses</a>
</div>