<div class="hp-info">
  <div class="hp-info-img">
    <img class="lazyload" data-src="{{ 'airfiber-technology.jpg' | asset_url }}">
  </div>
  <div class="hp-info-content">
    <h2 class="hp-info-content-heading">
      The Newest Innovation in Sleep Surface Technology
    </h2>
    <p class="hp-info-content-copy">
      Airfiber is our proprietary technology and material that makes up the core of our mattresses. Through it’s unique interwoven design, airfiber helps you move easily, evenly distributes weight and allows airflow to help keep you in a deeper more restful sleep. 
    </p>
  </div>
</div>