<div class="klarna-contain">
  <!-- Placement v1 -->
  <klarna-placement
    data-id="0f2333a5-b2e0-49ad-96e0-fe0928bc4b6e" 
    data-purchase_amount="{{ product.price }}"
    data-inline
  ></klarna-placement>
  <!-- end Placement -->
</div><br>