<div class="firmness-scale-wrapper">
  <div class="firmness-scale">
    <div class="firmness-header">
      <span>Less<br>Support</span>
      <h2>Firmness Scale</h2>
      <span>More<br>Support</span>
    </div>
    <div class="firmness-showcase">
      <div class="firmness-level">
        <img src="{{ 'firmness-water.png' | asset_url }}">
        <h3>Water</h3>
      </div>
      <div class="firmness-level">
        <img src="{{ 'firmness-memory-foam.png' | asset_url }}">
        <h3>Memory Foam</h3>
      </div>
      <div class="firmness-level">
        <img src="{{ 'firmness-spring.png' | asset_url }}">
        <h3>Spring</h3>
      </div>
      <div class="firmness-level">
        <img src="{{ 'firmness-airfiber.png' | asset_url }}">
        <h3>Airfiber</h3>
      </div>
    </div>
    <div class="firmness-bar">
      <span>Less Support</span>
      <div class="firmness-bar-img">
        <span class="firmness-hash-mark"></span>
        <span class="firmness-hash-mark"></span>
        <span class="firmness-hash-mark"></span>
        <hr>
      </div>
      <span>More Support</span>
    </div>
  </div>
</div>