<h2 class="features-header dual-mode-header">DUAL MODE TECHNOLOGY</h2>
<div class="product-dual-mode-container features-content-wrapper">
  <div class="features-content dual-mode-content">
    <div class="features-copy">
      <h2>Regular or Firm? Easily flip your DUAL MODE block to Choose</h2>
      <p>Each Advanced mattress comes with 1 DUAL MODE airfiber block. Flip to the "Firm Side" for the highest level of back support & spine alignment. Flip to the "Regular Side" for a just a little more give. </p>
    </div>
    <div class="features-video">
      <img src="https://cdn.shopify.com/s/files/1/1218/5370/files/AlternativeDual-Mode.gif?7853156384197257473"
        alt="dual mode mattress animated graphic"
        class="product-dual-mode-image"
         />
    </div>
  </div>
</div>