<?xml version="1.0" encoding="UTF-8"?>
<svg width="58px" height="60px" viewBox="0 0 58 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50 (54983) - http://www.bohemiancoding.com/sketch -->
    <title>Group 12</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Modular_Mattress_PDP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="airweave-PDP-modular" transform="translate(-81.000000, -2517.000000)">
            <g id="Group-12" transform="translate(73.000000, 2515.000000)">
                <g id="Group-10" stroke="#BEC1C2">
                    <g id="Group-9">
                        <g id="Group-6">
                            <g id="Group-8" transform="translate(45.967622, 24.807368) rotate(-240.000000) translate(-45.967622, -24.807368) translate(31.467622, 0.307368)">
                                <path d="M1.5,43.5 L10.5,48.5" id="Line-3" stroke-width="2" stroke-linecap="square"></path>
                                <g id="Group-5" transform="translate(0.000000, -0.000000)">
                                    <polygon id="Path-2" stroke-width="2" fill="#FFFFFF" points="2 9.74105339 10.2741811 13.5 27.1339746 4.03555831 18.7224087 0.0863662248"></polygon>
                                    <polyline id="Path-4" stroke-width="2" points="10.3359375 49 28.3359375 38.9946553 28.3359375 4"></polyline>
                                    <path d="M10.2412109,14.1137695 L10.2412109,48.8005162" id="Path-5" stroke-width="2"></path>
                                    <path d="M1,10 L1,43.9150468" id="Path-6" stroke-width="2"></path>
                                    <polygon id="Path-7" stroke-width="1.5" fill="#FFFFFF" points="10.6926031 48.8668116 6.04465018 48.7997193 5.61079204 14.5834113 10.3660378 13.7738401"></polygon>
                                </g>
                            </g>
                            <g id="Group-8" transform="translate(28.467622, 38.807368) rotate(-240.000000) translate(-28.467622, -38.807368) translate(13.967622, 14.307368)" stroke-width="2">
                                <path d="M1.5,43.5 L10.5,48.5" id="Line-3" stroke-linecap="square"></path>
                                <g id="Group-5" transform="translate(0.000000, -0.000000)">
                                    <polygon id="Path-2" fill="#FFFFFF" points="2 9.74105339 10.2741811 13.5 27.1339746 4.03555831 18.2251207 0.3734756"></polygon>
                                    <polyline id="Path-4" points="10.3359375 49 28.3359375 38.9946553 28.3359375 4"></polyline>
                                    <path d="M10.2412109,14.1137695 L10.2412109,48.8005162" id="Path-5"></path>
                                    <path d="M1,10 L1,43.9150468" id="Path-6"></path>
                                </g>
                            </g>
                        </g>
                        <path d="M35.5991211,3.03076172 L31,3.73193359 L60.1550293,20.4853516 C62.9909668,20.0206706 64.6854655,19.7883301 65.2385254,19.7883301 C65.7915853,19.7883301 55.9117839,14.202474 35.5991211,3.03076172 Z" id="Path-8" stroke-width="1.5" fill="#FFFFFF"></path>
                    </g>
                </g>
                <polygon id="Path-9" fill="#FFFFFF" points="31.015625 26.0029297 23.8613281 21.6445312 23.8613281 27.7353516 26.0917969 31.2246094 40.2421875 39.3066406 43.4121094 37.2792969"></polygon>
            </g>
        </g>
    </g>
</svg>