<!-- /templates/customers/reset_password.liquid -->
<section class="customer-template reset-password-container flex flex-justify-center">
  <div class="flex-4-md">
    <div class="customer-form flex-form-vertical">
      {% form 'reset_customer_password' %}

        <h1 class="form-title">Reset account password</h1>
        <p class="form-subtitle">Enter a new password for {{ email }}</p>

        {% if form.errors %}
          <div class="form-note is-error">
            <ul>
              {% for error in form.errors %}
                <li>{{ form.errors.messages[error] }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <div class="input-group flex-12">
          <label for="ResetPassword" class="hidden-label">Password</label>
          <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %}error{% endif %}" placeholder="Password">
        </div>

        <div class="input-group flex-12">
          <label for="password-confirmation" class="hidden-label">Confirm Password</label>
          <input type="password" value="" name="customer[password_confirmation]" id="password-confirmation" class="{% if form.errors contains 'password_confirmation' %}error{% endif %}" placeholder="Confirm Password">
        </div>

        <div class="input-group flex-12">
          <button type="submit" class="form-submit btn btn--primary flex-12">Reset Password</button>
        </div>

      {% endform %}
    </div>
  </div>
</section>
