<!-- /templates/404.liquid -->
<div class="not-found-wrapper">
  <div class="not-found-content">
    <h1 class="not-found-title">Zzzzzzz...</h1>
    <img class="not-found-image" src="{{ '404.png' | asset_url }}">
    <p class="not-found-copy">The page you are looking for doesn't exist. Go back to <a href="/" class="not-found-link">the homepage</a> or find your mattress <a href="/collections/mattresses" class="not-found-link">here.</a></p>
  </div>
</div>
