<!-- /templates/index.liquid -->

{{ content_for_index }}

{% comment %}{% include 'homepage-hero' %}{% endcomment %}

{% comment %}{% include 'homepage-featured-collection' %}{% endcomment %}

{% comment %}<div class="hp-promo">
  <p class="hp-promo-copy">
    You've always bought mattresses based on how it feels when you get into bed.<br><em>We believe it should be about how you feel when you get up.</em>
  </p>
</div>{% endcomment %}

{% comment %}{% include 'homepage-featured-sponsorships' %}{% endcomment %}

{% comment %}{% include 'homepage-info' %}{% endcomment %}

{% comment %}{% include 'homepage-featured-partners' %}{% endcomment %}

{% comment %}{% include 'homepage-trusted-by' %}{% endcomment %}

{% comment %}{% include 'homepage-bottom-collection' %}{% endcomment %}

{% include 'contact-footer' %}
