<!-- /templates/page.contact.liquid -->

<div class="contact-wrapper">
  <div class="basic-header">
  </div>

  <div class="contact-container">
    <h2>Contact Us</h2>
    <div class="contact-channels">
      <aside class="contact-channel">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg class="contact-channel-icon" width="100%" height="33px" viewBox="0 0 70 76.47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;">
          <g transform="matrix(1,0,0,1,0,-0.0108314)">
              <path d="M3,73.47L67,73.47" style="fill:none;stroke:rgb(51,58,76);stroke-width:6px;"/>
              <path d="M47.38,5C46.124,3.686 44.384,2.942 42.566,2.942C40.802,2.942 39.108,3.643 37.86,4.89L23,19.75" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
              <path d="M58.01,15.71L18.14,55.58L2.82,61.68L8.92,46.36L48.8,6.49L58.01,15.71Z" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
              <g transform="matrix(0.707107,-0.707107,0.707107,0.707107,10.76,42.24)">
                  <path d="M52.18,1.62L55.88,1.62C58.447,1.62 60.56,3.733 60.56,6.3L60.56,10C60.56,12.567 58.447,14.68 55.88,14.68L52.18,14.68L52.18,1.68L52.18,1.62Z" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
              </g>
              <path d="M11.96,43.32L21.18,52.54" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
          </g>
        </svg>
        <h4>Message</h4>
        <p>If you have questions or need help, please fill in the form and we will contact you as soon as possible.</p>
      </aside>
      <aside class="contact-channel contact-channel-chat">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg class="contact-channel-icon" width="100%" height="21px" viewBox="0 0 86 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;">
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M2.5,48.16C2.5,52.549 6.111,56.16 10.5,56.16L74.79,56.16C79.179,56.16 82.79,52.549 82.79,48.16L82.79,10.52C82.79,6.131 79.179,2.52 74.79,2.52L10.52,2.52C6.131,2.52 2.52,6.131 2.52,10.52L2.52,34.84" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M16.06,17.57L18.06,17.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M28.06,17.57L31.06,17.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M41.06,17.57L44.06,17.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M54.06,17.57L56.06,17.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M67.06,17.57L69.06,17.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M16.06,30.57L18.06,30.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M28.06,30.57L31.06,30.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M41.06,30.57L44.06,30.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M54.06,30.57L56.06,30.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M67.06,30.57L69.06,30.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M16.06,43.57L18.06,43.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M28.06,43.57L57.06,43.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-0.02)">
                <path d="M67.06,43.57L69.06,43.57" style="fill:none;stroke:rgb(51,58,76);stroke-width:5px;"/>
            </g>
        </svg>
        <h4>Live Chat</h4>
        <p>Get immediate assistance by speaking with an associate. Available 9am - 5pm EST, M - F.</p>
        <button class="contact-chat-now-button" onclick="Smooch.open();">
          <span>Chat Now</span>
          <span class="contact-chat-now-button-right-arrow"></span>
        </button>
      </aside>
      <aside class="contact-channel">
        <svg class="contact-channel-icon" width="100%" height="25px" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;">
            <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
            <title>phone_airweave</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Icons" style="stroke: rgb(51,58,76);" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="phone_airweave" fill-rule="nonzero" fill="#AEB1B7">
                    <g id="noun_892021_cc" transform="translate(8.000000, 1.000000)">
                        <g id="Group">
                            <path d="M3.87037037,0.130211236 C1.73835926,0.130211236 0,1.90659955 0,4.08526742 L0,27.8156225 C0,29.9942831 1.73835926,31.7706787 3.87037037,31.7706787 L15.1296296,31.7706787 C17.2616407,31.7706787 19,29.9942831 19,27.8156225 L19,4.08526742 C19,1.90659955 17.2616407,0.130211236 15.1296296,0.130211236 L3.87037037,0.130211236 Z M3.87037037,1.56841348 L15.1296296,1.56841348 C16.3866556,1.56841348 17.4037185,2.49387506 17.5706019,3.72571685 L1.42939815,3.72571685 C1.59628148,2.49387506 2.61334444,1.56841348 3.87037037,1.56841348 Z M1.40740741,5.1639191 L17.5925926,5.1639191 L17.5925926,25.2987685 L1.40740741,25.2987685 L1.40740741,5.1639191 Z M1.40740741,26.7369708 L17.5925926,26.7369708 L17.5925926,27.8156225 C17.5925926,29.2224 16.5062852,30.3324764 15.1296296,30.3324764 L3.87037037,30.3324764 C2.49371481,30.3324764 1.40740741,29.2224 1.40740741,27.8156225 L1.40740741,26.7369708 Z M9.5,27.4560719 C8.91705185,27.4560719 8.44444444,27.9389843 8.44444444,28.5347236 C8.44444444,29.130427 8.91705185,29.6133753 9.5,29.6133753 C10.0829833,29.6133753 10.5555556,29.130427 10.5555556,28.5347236 C10.5555556,27.9389843 10.0829833,27.4560719 9.5,27.4560719 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <h4>Call</h4>
        <p>Reach any of our departments by phone during normal business hours, M - F</p>
        <p style="color: #2a3337;"><b>800-407-1500</b></p>
      </aside>
    </div><div class="contact-form-wrapper">
      {% form 'contact' %}

        {{ form.errors | default_errors }}

        <input type="hidden" value="contact" name="form_type">
        <input type="hidden" name="utf8" value="✓">
        <label for="ContactFormName">Name</label>
        <input type="text" id="ContactFormName" name="contact[name]" placeholder="Name" autocapitalize="words">
        <label for="ContactFormEmail">Email Address</label>
        <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Email" autocorrect="off" autocapitalize="off">
        <label for="ContactFormPhone">Phone Number</label>
        <input type="tel" id="ContactFormPhone" name="contact[phone-number]" placeholder="Phone Number: 555-123-4567" pattern="[0-9\-]*">
        <label for="ContactFormMessage">Your Question</label>
        <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="Message"></textarea>
        <input type="submit" class="contact-submit-btn" value="Send">

        {% if form.posted_successfully? %}
          <p class="contact-form-success-message">Thanks for contacting us. We will get back to you as soon as possible.</p>
        {% endif %}
      {% endform %}
    </div>
    <div id="showroom">
      <a href="https://goo.gl/maps/LiytZe1NyUE2" class="contact-map" target="_blank">
        <img src="{{ 'showroom_contact.jpg' | asset_img_url: 'master' }}">
      </a>
      <div class="contact-locations">
        <h3 id="locations" class="contact-locations-title">Experience select airweave products at these showrooms</h3>
        {% comment %}<a href="https://www.boconcept.com/en-us/" class="contact-learn-more-button" target="_blank">
          <span>Learn More</span>
          <span class="contact-learn-more-button-right-arrow"></span>
        </a>{% endcomment %}
        <ul class="contact-locations-list">
          <li>
            <a href="https://g.page/AREALA?share" target="_blank">
              <h4>AREA Home</h4>
              <p>Los Angeles</p>
              <p>8307 W 3rd St</p>
              <p>LA, CA 90048</p>
              <p>323-951-0133</p>
              <p>Mon - Sat: 10AM - 6PM</p>
              <p>Thurs: 10AM - 7PM</p>
              <p>Sun: 11:00AM - 5PM</p>
          
            </a> 
           </li> 
          <li>
            <a href="https://goo.gl/maps/9gf5EMuiMSsZ87se8" target="_blank">
              <h4>AREA Home</h4>
              <p>Greenwich Village</p>
              <p>One Fifth Ave</p>
              <p>New York, NY 10003</p>
              <p>212-777-2933</p>
              <p>Mon, Tues, Fri: 10AM - 6PM</p>
              <p>Wed: Closed</p>
              <p>Thurs: 10AM - 7PM</p>
              <p>Sat: 11:00AM - 5PM</p>
              <p>Sun: Closed</p>
            </a> 
           </li> 
          <li>
            <a href="https://goo.gl/maps/CzckLsbi5JZQrGFu7" target="_blank">
              <h4>M Collection</h4>
              <p>Dumbo</p>
              <p>79 Front St</p>
              <p>Brooklyn, NY 11201</p>
              <p>646-688-3176</p>
              <p>Mon - Fri: 10AM - 7PM</p>
              <p>Sat: 11AM - 7PM</p>
              <p>Sun: 11:30AM - 7PM</p>
            </a> 
           </li> 
      <li>
            <a href="https://g.page/Sleepare-Tysons?share" target="_blank">
              <h4>SleePare</h4>
              <p>Tysons Corner (VA)</p>
              <p>Suite KK1, 1524 Spring Hill Rd</p>
              <p>McLean, VA 22102</p>
              <p>703-293-5814</p>
              <p>Please call to book an appointment</p>
            </a> 
           </li>
          <li class="contact-extra-box">
            <div>
              <p>Experience airweave delivered straight to you</p>
              <a href="/collections/mattresses">Shop Online</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
