{{ 'faq.scss.css' | asset_url | stylesheet_tag }}
<div class="template__page--faq">
  <div class="basic-header">
    <div class="content-container">
      <h1>What Our Customers Are Saying</h1>
    </div>
  </div>
  <div class="reviews-page-content-wrapper">
    <div class="reviews-page-content-container">
      <script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/2L4JZXk1a0QKtmjoNOZmVVp735oAgqpG1fMEuvLJ/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
<div id='yotpo-testimonials-custom-tab'></div>
    </div>
  </div>
  {% include 'global-carousel' %}
</div>

<script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/2L4JZXk1a0QKtmjoNOZmVVp735oAgqpG1fMEuvLJ/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>