<div class="about-us-header">
</div>

<div class="about-us-content-wrapper">
  <div class="rte">
    <div class="about__section">
      <div class="about__section-wrapper">
        <div class="about__section-top">
          <h2>How Fishing Line Revolutionized the Way We Sleep</h2>
          <div class="about__section-text">
            <div class="about__section-text--left">
              <p>Airweave was born from a desire to do things differently when, Founder & CEO, Motokuni Takaoka took over his uncle's fishing line company.</p>
              <p>A graduate of the Stanford School of Engineering, Takaoka experimented with different applications of the resin fiber used to create fishing line, and discovered that the material was perfectly suited for a newer and better purpose: to revolutionize the way we sleep.</p>
            </div>
            <div class="about__section-text--right">
              <p>Since the first mattress topper shipped in 2007, Airweave has expanded to a range of lifestyle, travel, and technology sleep products in Japan, and has been adopted by elite athletes and organizations worldwide to help them perform at the highest level.</p>
              <p></p>
            </div>
          </div>
          
	      	<div class="flexible-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/H29mTS5bcAk?autoplay=1" frameborder="0" allowfullscreen></iframe>
			</div>
        </div>
      </div>
      {% section 'about-us-info-spotlight'%}
      {% section 'about-us-image-slider'%}
      {% section 'global-carousel' %}
    </div>
  </div>
</div>

{% section 'featured-partners' %}
{% section 'partners-logos' %}

<div class="about-us-content-wrapper" style="top: 0; margin-top: 75px; margin-bottom: 0;">
  <div class="rte">
    <div class="about__section-bottom-quote">
      <div class="about__section-bottom-quote-centered">
        <p>“</p>
        <p><span> You don’t have to be preparing for competition to appreciate the benefits of a deep, peaceful night’s sleep. </span> <span> — Mr. Motokuni Takaoka, CEO and Founder of airweave.</span></p>
        <div class="about__section-bottom-quote-centered-circle-image"></div>
      </div>
    </div>
  </div>
</div>