<!-- /templates/page.stories-landing.liquid -->

<div class="stories-wrapper">
  <ul class="stories-list">
    <li class="story-item">
      <a href="/pages/usa-triathlon-ross-mcgraw" class="story-item-link">
        <div class="story-item-image">
          <img src="https://cdn.shopify.com/s/files/1/1218/5370/files/ross_story_page.jpg?10370046190951079068">
        </div>
        <div class="story-item-title">
          <h4>Story</h4>
          <h2 style="text-transform: none;">How Triathlete Ross McGraw Powers Through Competitions and a 9-To-5</h2>
        </div>
        <button class="story-item-explore-button">Explore</button>
      </a>
    </li>
    <li class="story-item">
      <a href="/pages/james-ramsey" class="story-item-link">
        <div class="story-item-image">
          <img src="{{ 'stories_landing-architect.jpg' | asset_url }}">
        </div>
        <div class="story-item-title">
          <h4>Story</h4>
          <h2>How James Ramsey Dreamed Up The Lowline</h2>
        </div>
        <button class="story-item-explore-button">Explore</button>
      </a>
    </li>
    <li class="story-item">
      <a href="/pages/giving-back-to-society" class="story-item-link">
        <div class="story-item-image">
          <img src="https://cdn.shopify.com/s/files/1/1218/5370/files/pickup_csr1_image_01.png?1285741445624486576">
        </div>
        <div class="story-item-title">
          <h4>Story</h4>
          <h2>How airweave Gives Back</h2>
        </div>
        <button class="story-item-explore-button">Explore</button>
      </a>
    </li>
  </ul>

  <div class="bottom-stripe">
  </div>
</div>